<div class="jumbotron bg-success">
    <table class="table table-hover table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Route</th>
                <th scope="col">Grade</th>
                <th scope="col">By</th>
            </tr>
        </thead>
        <tbody class="bg-light text-dark">
            @for(var a = 0; a < 100; a++)
            {
            <tr>
                <th scope="row">@(a + 1)</th>
                <td>A muerte!</td>
                <td>8b</td>
                <td>Todor</td>
            </tr>
            }
        </tbody>
    </table>
</div>