<div>
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Points</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Todor</td>
                <td>Tsankov</td>
                <td>10505</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Angel</td>
                <td>Stamatov</td>
                <td>9990</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Rosen</td>
                <td>Anachkov</td>
                <td>8333</td>
            </tr>
        </tbody>
    </table>
</div>